<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yuri Mascarenhas - Gallery</title>
  </head>
  <body>
    <h1>Gallery Exhibition</h1>
    <ul>
      <% for (let work of gallery) {%>
      <li><%= work %></li>
      <% } %>
    </ul>
    <footer><a href="/">Home</a></footer>
  </body>
</html>
