<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home template</title>
  </head>
  <body>
    <h1>Home Template</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos,
      omnis voluptate consequuntur atque perspiciatis deleniti, quo veritatis
      facere corrupti voluptates, aliquid quos aut mollitia sequi doloribus
      perferendis dolorum accusantium soluta.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repellat
      explicabo iusto asperiores fugit, iure expedita fuga possimus! Quo dicta
      voluptates natus quas alias obcaecati explicabo corrupti officia, debitis
      voluptatibus!
    </p>
    <footer><a href="/info">information</a></footer>
  </body>
</html>
