<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info template</title>
  </head>
  <body>
    <h1>Dev info</h1>
    <p>
      <h2><%= name %> </h2>
    </p>
    <p><b>Cel:</b> <%= cel %></p>
    <p><b>Personal e-mail:</b> <%= persEmail %></p>
    <p><b>Work e-mail:</b> <%= workEmail %></p>
    <footer><a href="/">Home</a></footer>
  </body>
</html>
