<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info template</title>
  </head>
  <body>
    <h1>Dev info</h1>
    <p>
      <b>Yuri Santos Mascarenhas</b>
    </p>
    <p><b>Cel:</b> +55 99 000-000-000</p>
    <p><b>E-mail:</b> yurism@id.uff.br</p>
    <footer><a href="/">Return home</a></footer>
  </body>
</html>
