<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subName %></title>
  </head>
  <body>
    <h1>Welcome to the <%= subName %> subpage</h1>

    <footer><a href="/">Home</a></footer>
    <footer><a href="/info">Info</a></footer>
  </body>
</html>
